@import "tailwindcss";

@layer base {
  body {
    background-color: #090909;
    color: #eeebe5;
  }
}

@layer utilities {
  .animate-ticker {
    animation: ticker 25s linear infinite;
  }
}

@keyframes ticker {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}